[Unit]
Description=CloudShield RPC server for remote node management
After=network.target samba-provision.service samba-ad-dc.service
Requires=samba-provision.service

[Service]
ExecStart=/usr/local/bin/cs-rpcsrv -samba

Restart=always
RestartSec=5

User=root
Group=root

[Install]
WantedBy=multi-user.target
